body {
    font-family: 'Uncial Antiqua', cursive;
    background-image: url(https://scg-static.starcitygames.com/articles/2020/06/9f81fb24-164.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 50px;
}

#pacquisition {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pack-button {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-family: 'Uncial Antiqua', cursive;
}

#pack-results {
    text-align: center;
}

.card-img {
    width: 250px;
    height: 350px;

}

.contain {
    background-color: rgba(161,115,115,0.5);
    background-image: linear-gradient(rgba(161,115,115,0.6),rgba(0,0,0,0.8))
}

.drop-button {
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.dropdown {
    display: flex;
    justify-content: space-between;
}

/* hide this until I add dropdown */
/* .column-contain {
    visibility: hidden;
} */

.drop-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}

.drop-lib {
    display: none;
    /* overflow: hidden;
    transition: max-height 0.2s ease-out; */
}

#l-whi {
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.5))
}

#l-blu {
    background-image: linear-gradient(rgba(61,133,255,0),rgba(61,133,255,0.5))
}

#l-blk {
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5))
}

#l-red {
    background-image: linear-gradient(rgba(225,50,0,0),rgba(225,50,0,0.5))
}

#l-grn {
    background-image: linear-gradient(rgba(0,150,0,0),rgba(0,150,0,0.5))
}

/* For Tablet */
@media screen and (min-width: 480px) {
    #pack-results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}
/* For Desktop */
@media screen and (min-width: 769px) {
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #pack-results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-between;
    }
}