body {
    font-family: 'Uncial Antiqua', cursive;
    background-image: url(https://scg-static.starcitygames.com/articles/2020/06/9f81fb24-164.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 50px;
}

#pack-results {
    text-align: center;
}

.contain {
    background-color: rgba(161,115,115,0.5);
    background-image: linear-gradient(rgba(161,115,115,0.6),rgba(0,0,0,0.8))
}

/* For Tablet */
@media screen and (min-width: 480px) {
    #pack-results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}
/* For Desktop */
@media screen and (min-width: 769px) {
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #pack-results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-between;
    }
}