body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#all-cards {
    text-align: center;
}

/* For Tablet */
@media screen and (min-width: 480px) {
    #all-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}
/* For Desktop */
@media screen and (min-width: 769px) {
    #all-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-between;
    }
}